body {
    font-size: 18px;
}

#nav-bar {
    font-size: 14px;
    font-weight: bold;
}

#nav-bar ul.nav.nav-pills {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.block-title {
    margin: 0;
}

table.table-valign-middle tr > th,
table.table-valign-middle tr > td {
    vertical-align: middle;
}

.btn {
    /*padding: 10px;*/
}

.btn-in-panel-header {
    margin: -4px -8px 0 0;
    padding: 5px 10px;
}

.radio > .inline~.inline,
.radio-inline~.radio-inline {
    margin-left: 2em;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-top: 8px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    color: #000000;
    width: 36%;
}

/** Modal **/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media (min-width: 992px) {
    .modal-vlg,
    .modal-ulg {
        width: 900px;
    }
}

@media (min-width: 1092px) {
    .modal-vlg,
    .modal-ulg {
        width: 1000px;
    }
}

@media (min-width: 1192px) {
    .modal-vlg,
    .modal-ulg {
        width: 1100px;
    }
}

@media (min-width: 1592px) {
    .modal-ulg {
        width: 1500px;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal > .modal-primary > .modal-content > .modal-header,
.modal > .modal-success > .modal-content > .modal-header,
.modal > .modal-info    > .modal-content > .modal-header,
.modal > .modal-warning > .modal-content > .modal-header,
.modal > .modal-danger  > .modal-content > .modal-header {
    border-radius: 4px 4px 0 0;
}

.modal > .modal-primary > .modal-content > .modal-header .close,
.modal > .modal-success > .modal-content > .modal-header .close,
.modal > .modal-info    > .modal-content > .modal-header .close,
.modal > .modal-warning > .modal-content > .modal-header .close,
.modal > .modal-danger  > .modal-content > .modal-header .close {
    opacity: .4;
}

.modal > .modal-primary > .modal-content > .modal-header .close:hover,
.modal > .modal-success > .modal-content > .modal-header .close:hover,
.modal > .modal-info    > .modal-content > .modal-header .close:hover,
.modal > .modal-warning > .modal-content > .modal-header .close:hover,
.modal > .modal-danger  > .modal-content > .modal-header .close:hover {
    opacity: .7;
}

.modal > .modal-primary > .modal-content > .modal-header {
    color: #fff;
    background-color: #337ab7;
}

.modal > .modal-success > .modal-content > .modal-header {
    background-color: #dff0d8;
}

.modal > .modal-info > .modal-content > .modal-header {
    background-color: #d9edf7;
}

.modal > .modal-warning > .modal-content > .modal-header {
    background-color: #fcf8e3;
}

.modal > .modal-danger > .modal-content > .modal-header {
    background-color: #f2dede;
}

.modal > .modal-primary > .modal-content > .modal-header {
    background-color: #337ab7;
}

.glyphicon-rotation-animate,
.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}